//BEGIN GOOGLE ANALYTICS CODE
|<script type="text/javascript">
|var _gaq = _gaq || [];_gaq.push(['_setAccount', '']);
|_gaq.push(['_trackPageview']);
|_gaq.push(['_setSiteSpeedSampleRate', 20]);
|_gaq.push(['1f24._setAccount', '']);
|_gaq.push(['1f24._trackPageview']);
|(function() {
|var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
|ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
|(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
|})();
|</script>
//END GOOGLE ANALYTICS CODE
