meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")

title #{PageTitle}

meta(name="description", content="#{Description}")
meta(name="keywords", content="")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(name="mobile-web-app-capable", content="yes")
link(rel="icon", sizes="192x192", href="images/touch/chrome-touch-icon-192x192.png")

// Add to homescreen for Safari on iOS
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="apple-mobile-web-app-title", content="")
link(rel="apple-touch-icon", href="/apple-touch-icon.png")
link(rel="shortcut icon", href="/favicon.ico")

// OGP
meta(property="og:title", content="#{PageTitle}")
meta(property="og:type", content="website")
meta(property="og:url", content="")
meta(property="og:image", content="")
meta(property="og:site_name", content="十六茶")
meta(property="og:description", content="#{Description}")
//- meta(property="og:app_id", content="")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@****")

// Page styles
link(rel="stylesheet", href="css/style.css")

script(src="/js/modernizr.min.js")
