.list-alfabet {
  color: black;
}

.list-string {
  color: gray;
  font-size: 13px;
}

.source {
  color: black;
  font-size: 10px;
  cursor: pointer;
}

.test {
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3);
}
