//- include /mixin/_conditionalComment
doctype html
html(lang="ja")
    head
        block meta
            - var pageTitle = ""
            - var path = ""
            - var description = ""

        include /include/_meta

        // Page styles
        link(rel="stylesheet", href="css/style.css")
        block style

        //[if lt IE 9]>
        script(src="js/lib/modernizr.js")
        //<![endif]

        block script
    body

        include /include/_header

        main.container
            block main

        include /include/_footer

        include /include/script/_analytics
        include /include/script/_twitter
        include /include/script/_facebook

        //- script(src="js/lib.min.js")
        block scripts

        //- each val in libs
            //- script(src=val type="text/javascript" charset="UTF-8")
        //- if prod
            //- script(src="js/app.min.js" type="text/javascript" charset="UTF-8")
        //- else
            //- each val in sc
                //- script(src=val type="text/javascript" charset="UTF-8")
