// Overlay
// ===================================================================
@mixin simple-overlay() {
	%overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		min-width: 1200px;
		height: 100%;
	}
	.mod-modal {
		@extend %overlay;
	}
	.mod-modal-bg {
		@extend %overlay;
		// background: url(#{$imgPath}bg_modal_01.png) repeat;
	}
	.mod-modal-content {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1050;
		background-color: #fff;
		@if $legacy-support-for-ie {
			*zoom: 1;
		}

		.btn-close {
			position: absolute;
			// top: 38px;
			// right: 38px;

			a {
				// @extend %icon-item;
				// @include sprites($map-icon, close_2, false);
				// &:hover { @include sprites($map-icon, close_2_o, false); }
			}
		}
	}
}
