.test {
  color: #333;
}

.radius {
  border-radius: 3px;
}

.transform {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.transform .test {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.hello {
  color: black;
  display: none;
}

.hogehoge {
  -webkit-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
  color: tomato;
}
