//
// text
// ------------------------------
@mixin hide-text ($direction: $hide-text-direction) {
    @if $hide-text-direction == left {
        overflow: hidden;
        text-indent: -9999em;
        text-align: left;
    } @else {
        overflow: hidden;
        white-space: nowrap;
        text-indent: 110%;
    }
}

@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
