// ==========================================================================
//   State
// ==========================================================================

.is-hidden {
    display: none;
}

.is-fixed {
    position: fixed;
    width: 100%;
}
