doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    meta(name="description", content=description)
    meta(name="keywords", content="")
    meta(property="og:title" content=title)
    meta(property="og:type" content="")
    meta(property="og:url" content="")
    meta(property="og:image" content="")
    meta(property="og:site_name" content="")
    meta(property="og:description" content=description)
    meta(property="fb:app_id" content="")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="")
    link(rel="shortcut icon" href="/favicon.ico")
    link(href="css/style.css" rel="stylesheet")
    script(src="js/lib/modernizr.min.js")
  body
    header.global-header
      div.container
        h1 HTML::Template
    main.contents
      div.container
        p Sit distinctio error beatae dolorum rem. Ipsam iste quasi fuga cumque dolore ducimus a eaque! Quas asperiores laborum nesciunt voluptatem dolorem distinctio quae accusamus libero nihil placeat culpa dolorem! Provident.
        p Dolor id sed nam ratione autem. Sint molestias sint aperiam dignissimos corrupti voluptatum expedita dolore architecto quas pariatur obcaecati unde nam explicabo odio fuga sint! Magni architecto porro omnis est.
        p
          i(class="star-blue")
          i(class="star-orange")
          i(class="star-pink")
          i(class="star-yellow")
        p.base64


    footer.global-footer
      div.container
        p.copyright: small Copyright &copy; Youhei Isokawa All rights reserved.
    script(src="js/script.js")
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script
      include ga.js
