@charset "utf-8";
// ==========================================================================
// Global config file
// ==========================================================================

// Paths
// ==========================================================================
$http-path: "http://";
$css-dir: "css";
$image-dir: "img";
$fonts-dir: "fonts";
$hierarchy-of-img-from-css: '../'; 

// Reset type
// ==========================================================================
// "html5doctor", "ericmeyer", "yui", "normalize", "original"
$resetCSS: "original";

// For Retina
// ==========================================================================
$isRetina: false;

// Margin(paragraph)
// ==========================================================================
$baseMargin: 0;


// Color
// ==========================================================================
// background
$bgColor: #fff !default;
// sub
// $subColor: #eee;
// accent
// $accentColor: #e73562;

// font
$fontColor: #000 !default;
// sub font color
// $subFontColor1: #C8C8C8;
// $subFontColor2: #A5A5A5;
// accent font color
$accentFontColor: #ffffff !default;

// links
$linkColor: #0072ff !default;
$linkColorHover: #0072ff !default;
$linkColorVisited: #0072ff !default;
$linkColorActive: #0072ff !default;

// border
// $bdColor1: rgba(28, 76, 184, .5);
// $bdColor2: #4F4F4F;
// $bdColor3: #787878;


// Font
// ==========================================================================
// base font
$baseFont: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif !default;
$baseFontIE: 'ＭＳ Ｐゴシック', sans-serif !default;
$YuFont: "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif !default;
// base font size
$baseFontSize: 14 !default;


// Window
// ==========================================================================
$wrapperWidth: 0;

// Media queries
// ==========================================================================
$breakpoint: 640px;

// Debug
// ==========================================================================
$showFontSizeDebug: null;
