/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$blue-name: 'blue';
$blue-x: 0px;
$blue-y: 0px;
$blue-offset-x: 0px;
$blue-offset-y: 0px;
$blue-width: 22px;
$blue-height: 22px;
$blue-total-width: 48px;
$blue-total-height: 48px;
$blue-image: '../img/star.png';
$blue: (0px, 0px, 0px, 0px, 22px, 22px, 48px, 48px, '../img/star.png', 'blue', );
$orange-name: 'orange';
$orange-x: 26px;
$orange-y: 0px;
$orange-offset-x: -26px;
$orange-offset-y: 0px;
$orange-width: 22px;
$orange-height: 22px;
$orange-total-width: 48px;
$orange-total-height: 48px;
$orange-image: '../img/star.png';
$orange: (26px, 0px, -26px, 0px, 22px, 22px, 48px, 48px, '../img/star.png', 'orange', );
$pink-name: 'pink';
$pink-x: 0px;
$pink-y: 26px;
$pink-offset-x: 0px;
$pink-offset-y: -26px;
$pink-width: 22px;
$pink-height: 22px;
$pink-total-width: 48px;
$pink-total-height: 48px;
$pink-image: '../img/star.png';
$pink: (0px, 26px, 0px, -26px, 22px, 22px, 48px, 48px, '../img/star.png', 'pink', );
$yellow-name: 'yellow';
$yellow-x: 26px;
$yellow-y: 26px;
$yellow-offset-x: -26px;
$yellow-offset-y: -26px;
$yellow-width: 22px;
$yellow-height: 22px;
$yellow-total-width: 48px;
$yellow-total-height: 48px;
$yellow-image: '../img/star.png';
$yellow: (26px, 26px, -26px, -26px, 22px, 22px, 48px, 48px, '../img/star.png', 'yellow', );
$spritesheet-width: 48px;
$spritesheet-height: 48px;
$spritesheet-image: '../img/star.png';
$spritesheet-sprites: ($blue, $orange, $pink, $yellow, );
$spritesheet: (48px, 48px, '../img/star.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
