// ==========================================================================
// sprite-map
// ==========================================================================

// @import "star";
//
// %icon {
//     @include sprite-icon-inline;
// }
//
// // Global sprite
// .star-blue {
//     @extend %icon;
//     @include sprite($blue);
// }
//
// .star-orange {
//     @extend %icon;
//     @include sprite($orange);
// }
//
// .star-pink {
//     @extend %icon;
//     @include sprite($pink);
// }
//
// .star-yellow {
//     @extend %icon;
//     @include sprite($yellow);
// }
